  canvas {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    width: 100% !important;
    height: 100% !important;
   

  }
  
  .canvas-holder {
    width: 80vw;
    max-width: 1200px;
    height: 32vh;
    max-height: 400px;
    margin: 10px auto;
    position: relative;
  }
  